.row
  table.table
    thead.thead-inverse
      tr
        th #
        th Site name
        th Model Name
        th Specs
    tbody
      - items.each_with_index do |item, number|
        = render 'search/result_item', item: item, number: number
