<% if @items.present? %>
  $("#results-table").html("<%= escape_javascript(render partial: 'results_table', locals: { items: @items }) %>");
<% else %>
  $("#results-table").html("<h3> Nothing was found </h3>");
<% end %>
