.container
  .row
		.col-md-6.col-md-offset-3
		  h2 Search for phone
	      #custom-search-input
	        .input-group
	          input.search-query.form-control type="text" placeholder="Search" id='search-request' autofocus='autofocus'
	          span.input-group-btn
	            #search-button.button.btn.btn-danger.form-control type="submit"
	              span.glyphicon.glyphicon-search

  .row id='results-table'

javascript:
	$(document).ready(function(){
		$('#search-button').on('click', function(){
			$.ajax({
				type: "POST",
				url: '/search',
				data: { request: { text: $('#search-request').val() }}
			});
		});
	});
