doctype 5
html
  head
    title PhoneSearch
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    nav.navbar.navbar-inverse class="navbar navbar-inverse"
      .container-fluid
        .navbar-header
          a.navbar-brand href="#" PhoneSearch

    == yield
